{% extends "layout.html" %}
    <meta name="keywords" content="Britte Elisa, canvas, stuc, pleister">
    <meta name="description" content="Voor een schoolopdracht en binnenkort echt online: unieke canvas voor aan de muur.
    Afgewerkt met stuc (pleister). Houd de website in de gaten..">
{% block title %}
    Home

{% endblock %}

{% block main %}
    <h1>Welkom op mijn website!</h1>
    <p>Wil je iets unieks en handgemaakt aan de muur? Neem een kijkje bij de producten.
        <br>Wil je iets aanvragen of heb je een andere vraag? Neem dan contact met mij op via het contactformulier.
        <br><br><iframe src="https://giphy.com/embed/l0HlHFRbmaZtBRhXG" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><br><br>
        <i>Disclaimer: Producten en diensten op deze website zijn fictief en gemaakt voor een schoolopdracht</i>
    </p>
{% endblock %}