{% extends "layout.html" %}

{% block title %}
    Bewerking rechts
{% endblock %}

{% block main %}
<h1>Bewerking rechts</h1><br>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='product 2.png') }}">
            <p>Voor dit product heb je de keuze uit:<br>30x40 cm - €20,99<br>24x30 cm - €27,49<br>30x40 cm - €29,99<br>Overige formaten - n.o.t.k.<br>
                <br>Aanvragen kan via het contactformulier! &#128196; Wil je een speciaal formaat, laat het mij weten en ik kijk wat ik voor je kan regelen.
            <br><br>
            <button onclick="location.href='https://brittedrenth-code50-78801613-r4rprgq5x2wv79-5000.githubpreview.dev/contact'" type="button">
                Ga naar het contactformulier!
            </button>
            </p>
    </div>
</body>
{% endblock %}
